<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="FeatureToggle.MyFeatureDateAfter" value="01-Jan-2016 18:00:00" />
    <add key="FeatureToggle.MyFeatureDateBefore" value="01-Jan-2017 18:00:00" />
    <add key="FeatureToggle.MyFeatureDateBetween" value="01-Jan-2016 00:00:00 | 01-Feb-2017 00:00:00" />
    
    <add key="FeatureToggle.MyFeatureSimple" value="true" />
    
    <add key="FeatureToggle.MyFeatureWeekDay" value="Monday, Friday" />
    <add key="FeatureToggle.MyFeatureSql.ConnectionString" value="Data Source=.;Initial Catalog=sonar;Integrated Security=True;Pooling=False" />
    <add key="FeatureToggle.MyFeatureSql.SqlStatement" value="SELECT CAST(id AS bit) FROM issues WHERE id = 1" />
    <add key="FeatureToggle.MyFeatureVersion" value="1.0.0" />
  </appSettings>
</configuration>